body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E5E5E5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    margin-bottom: 0;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 16px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #4BCFA0;
    background-color: #fff;
}

.btn:hover {
    background-color: #4BCFA0;
    border: none;
    color: #fff;
    border: 1px solid transparent;
}

.btn:focus {
    background-color: #4BCFA0;
    box-shadow: none;
    color: #fff;
    border: 1px solid transparent;
}

.btn:active {
    background-color: #fff;
    color: #4BCFA0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.ReactModal__Body--open{
    overflow: hidden;
}